//banner
@font-face {
  font-family: HanyiSenty;
  src: url("~@/assets/HanyiSenty.woff2");
}

.bannerMoveClass{
  bottom:0;
  width:919px;
  left: 48.5%;
  transform: translateX(-50%);
}
.main_banner {
  background-image: url($image+"banner-sm.jpg");
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 350px;
  filter: saturate(3);
  @media (min-width: 767px) {
    height: 725px;
  }
  @media (min-width: 992px) {
    background-image: url($image+"banner-lg.jpg");
    filter: saturate(1);
  }
  .main_banner_center {
    bottom: 0;
    left: 163px;
    text-decoration: none;
    filter: grayscale(100%);
    &:hover,
    &:focus,
    &.active {
      filter: grayscale(0);
    }
    &::after {
      content: "專屬傭兵";
      font-family: HanyiSenty;
      color: rgb(175, 165, 56);
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 50px;
      writing-mode: vertical-rl;
    }
  }
  .main_banner_left {
    height: 720px;
    bottom: 0;
    left: 0px;
    text-decoration: none;
    filter: grayscale(100%);
    z-index: 0;
    &:hover,
    &:focus,
    &.active {
      filter: grayscale(0);
    }
    &::after {
      content: "獨家技術";
      font-family: HanyiSenty;
      color: rgb(175, 165, 56);
      position: absolute;
      font-size: 50px;
      left: 30%;
      bottom: 10%;
      writing-mode: vertical-rl;
    }
  }
  .main_banner_right {
    height: 725px;
    bottom: 0;
    left: 586px;
    text-decoration: none;
    filter: grayscale(100%);
    &:hover,
    &:focus,
    &.active {
      filter: grayscale(0);
    }
    &::after {
      content: "十大建設";
      font-family: HanyiSenty;
      color: rgb(175, 165, 56);
      position: absolute;
      font-size: 50px;
      left: 60%;
      bottom: 10%;
      writing-mode: vertical-rl;
    }
  }
}
.divider{
  background-image: url($image+'678.png');
  width: 100%;
  height: 3px;
  position: absolute;
  z-index: 10;
}
//content
.main_content-bg {
  background-image: url($image+"darken-yellowPaper.jpg");
  background-position: top center;
  overflow: hidden;
}

.main_content-title{
  border-bottom: 2px double $warning;
  border-color: darken($warning, 10%);
  border-radius: 0;
  color: darken($warning, 10%);
  .title_entry{
    border: 2px double darken($warning, 10%);
    border-radius: 0;
    background-color: rgba(58, 58, 58, 0.466);
    color: darken($warning, 20%);
    &:hover,&.active{
      color: lighten($warning, 10%);
    }
  }
}

.part_content-bg {
  //固定背景圖的方法
  background-image: url($image+"memo-paper.png");
  background-size: 100% 750px;
  width:100%;
  height: 750px;
  background-position: center center;
  @media (min-width: 992px) {
    background-size: 110% 300px;
    width: 110%;
    height: 300px;
  }
  @media (min-width: 568px) {
    background-position: left 0;
  }
  .part_img {
    border: 1.5px rgba(173, 145, 122, 0.884) solid;
    box-shadow: 0px 0px 10px black;
    margin-top: 40px;
    @media (min-width: 992px) {
      margin-top: -10px;
    }
  }
}
.part_content-bgRight {
  @media (min-width: 568px) {
    background-position: right 0;
  }
}

.part_content-bg iframe,
.part_content-bg object,
.part_content-bg embed {
  width: 100%;
  height: 350px;
  @media (min-width: 992px) {
    width: 100%;
    height: 105%;
  }
}

.part-sideFont {
  font-family: HanyiSenty;
  font-size: 50px;
  margin-top: -45px;
  color: #636161;
}

.part-sideFont-font {
  box-shadow: 2px 3px 2px rgb(39, 39, 39);
}

.img-cover{
  object-fit: cover;
  object-position: center center;
  @media (max-width: 767px){
    max-width: 100%;
    height: 200px;
  }
}

//customer review
.content-review_bg{
  background-color: rgba(179, 167, 167, 0.459);
  color:black;
  border: 0.5px solid rgba(173, 145, 122, 0.882); 
}


// productShow
.btn.showBtn{
  border: 2px double darken($warning, 10%);
  border-top: 0;
  border-radius: 0;
  background-color: rgba(58, 58, 58, 0.466);
  color: darken($warning, 20%);
  &:hover,&.active{
    color: lighten($warning, 10%);
  }
}
